---
- name: Install Chrony
  ansible.builtin.apt:
    name: chrony
    state: present
    update_cache: yes

- name: Check if systemd-timesyncd exists
  ansible.builtin.command: systemctl list-unit-files systemd-timesyncd.service
  register: timesyncd_check
  changed_when: false
  failed_when: false

- name: Stop and disable systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: stopped
    enabled: no
    masked: yes
  when: "'systemd-timesyncd.service' in timesyncd_check.stdout"

- name: Configure Chrony
  ansible.builtin.template:
    src: chrony.conf.j2
    dest: "{{ chrony_config_file }}"
    owner: root
    group: root
    mode: '0644'
  notify: restart chrony

- name: Ensure Chrony is started and enabled
  ansible.builtin.systemd:
    name: "{{ chrony_service_name }}"
    state: started
    enabled: yes
