---
- name: Stop and disable beszel agent service
  ansible.builtin.systemd:
    name: beszel-agent
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove beszel agent package
  ansible.builtin.apt:
    name: beszel-agent
    state: absent
  ignore_errors: true

- name: Remove configuration directory
  ansible.builtin.file:
    path: /etc/systemd/system/beszel-agent.service.d
    state: absent

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
