[Service]
Environment="PORT={{ beszel_agent_port }}"
{% if beszel_agent_key %}
Environment="KEY={{ beszel_agent_key }}"
{% endif %}
{% if beszel_agent_token %}
Environment="TOKEN={{ beszel_agent_token }}"
{% endif %}
{% if beszel_agent_hub_url %}
Environment="HUB_URL={{ beszel_agent_hub_url }}"
{% endif %}
EnvironmentFile=/dev/null
